footer {
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    gap: 16px;
    color: white ;
    padding: 30px;
    h2 {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        color: white;
    }
    a {
        text-decoration: none;
        padding: 3px;
        color: white;
    }
    @media (min-width: 944px) {
        flex-direction:row-reverse;
        align-items: center;
        padding-top: 60px;
    }
}