@keyframes heart-full {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  10% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  20% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  30% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  40% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  60% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(1);
    opacity: 0.8;
  }
  80% {
    transform: scale(1);
    opacity: 0.9;
  }
  90%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button-default {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 13px 16px 13px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#heart1 {
  display: none;
  position: relative;
  top: 217px;
  left: 290px;
}
#heart1 + label {
  position: relative;
  top: 206px;
  left: 300px;
  transition: transform 2000ms;
  animation-direction: reverse;
}
@media (min-width: 1024px) {
  #heart1 + label {
    top: 217px;
    left: 400px;
  }
}
#heart1 + label .heart-empty {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 21px;
}
#heart1 + label .heart-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  transition: opacity 800ms;
}
#heart1:checked + label .heart-empty {
  opacity: 0;
}
#heart1:checked + label .heart-full {
  opacity: 1;
  font-size: 21px;
  animation: heart-full 700ms;
}

#heart2 {
  display: none;
  position: relative;
  top: 217px;
  left: 290px;
}
#heart2 + label {
  position: relative;
  top: 206px;
  left: 300px;
  transition: transform 2000ms;
  animation-direction: reverse;
}
@media (min-width: 1024px) {
  #heart2 + label {
    top: 217px;
    left: 400px;
  }
}
#heart2 + label .heart-empty {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 21px;
}
#heart2 + label .heart-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  transition: opacity 800ms;
}
#heart2:checked + label .heart-empty {
  opacity: 0;
}
#heart2:checked + label .heart-full {
  opacity: 1;
  font-size: 21px;
  animation: heart-full 700ms;
}

#heart3 {
  display: none;
  position: relative;
  top: 217px;
  left: 290px;
}
#heart3 + label {
  position: relative;
  top: 206px;
  left: 300px;
  transition: transform 2000ms;
  animation-direction: reverse;
}
@media (min-width: 1024px) {
  #heart3 + label {
    top: 217px;
    left: 400px;
  }
}
#heart3 + label .heart-empty {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 21px;
}
#heart3 + label .heart-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  transition: opacity 800ms;
}
#heart3:checked + label .heart-empty {
  opacity: 0;
}
#heart3:checked + label .heart-full {
  opacity: 1;
  font-size: 21px;
  animation: heart-full 700ms;
}

#heart4 {
  display: none;
  position: relative;
  top: 217px;
  left: 290px;
}
#heart4 + label {
  position: relative;
  top: 206px;
  left: 300px;
  transition: transform 2000ms;
  animation-direction: reverse;
}
@media (min-width: 1024px) {
  #heart4 + label {
    top: 217px;
    left: 400px;
  }
}
#heart4 + label .heart-empty {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 21px;
}
#heart4 + label .heart-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  transition: opacity 800ms;
}
#heart4:checked + label .heart-empty {
  opacity: 0;
}
#heart4:checked + label .heart-full {
  opacity: 1;
  font-size: 21px;
  animation: heart-full 700ms;
}

.new3 {
  display: none;
}

.new4 {
  display: none;
}

header {
  height: 63px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}
header a {
  position: absolute;
  color: black;
  left: 5%;
  top: 24px;
}
header img {
  width: 162px;
  height: 44px;
  object-fit: scale-down;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  gap: 16px;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 25px;
  line-height: 26px;
  color: white;
}
footer a {
  text-decoration: none;
  padding: 3px;
  color: white;
}
@media (min-width: 944px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 60px;
  }
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #353535;
  padding: 15px;
  gap: 20px;
  font-weight: 1000;
  box-shadow: inset 1px 12px 5px -10px rgba(0, 0, 0, 0.15);
}

.reserver {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 25px 50px 25px;
  gap: 15px;
}
.reserver h1 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.reserver p {
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .reserver {
    padding: 40px 25px 50px 25px;
    gap: 25px;
  }
  .reserver h1 {
    width: 900px;
    font-size: 35px;
  }
  .reserver p {
    margin: 0px;
  }
}

.fonctionnement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement-section h2 {
  margin: 1px 175px 1px 1px;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0px 20px 0px;
}
.fonctionnement-section .fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 68px 0px;
  gap: 25px;
}
.fonctionnement-section .fonctionnement__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 73px;
  width: 273px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  gap: 20px;
  text-align: center;
}
.fonctionnement-section .fonctionnement__box__sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-left: -42px;
}
.fonctionnement-section .fonctionnement__box .fa-store {
  color: #9356DC;
}
.fonctionnement-section .fonctionnement__box .fa-mobile-screen-button {
  color: #7E7E7E;
}
.fonctionnement-section .fonctionnement__box .fa-list-ul {
  color: #7E7E7E;
}
@media (min-width: 1024px) {
  .fonctionnement-section .fonctionnement__box {
    flex-direction: row;
    width: 233px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement-section .fonctionnement {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .fonctionnement-section__title {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .fonctionnement-section__title h2 {
    padding: 20px 0px 20px 0px;
    margin-left: -478px;
  }
}

.diners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 50px 15px;
  background-color: #F7F7F7;
}
.diners-section .column {
  padding-top: 30px;
}
.diners-section h2 {
  margin: 0px 216px -30px 0px;
  font-weight: 700;
  font-size: 24px;
}
.diners-section__box {
  height: 270px;
}
.diners-section__box .new {
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #008766;
  padding: 7px 9px 6px 9px;
  width: 80px;
  position: relative;
  top: 40px;
  left: 230px;
}
@media (min-width: 1024px) {
  .diners-section__box .new {
    left: 330px;
  }
}
.diners-section__box__diner {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 251px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-decoration: none;
}
.diners-section__box__diner img {
  width: 345px;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.diners-section__box__diner__resume {
  display: flex;
  flex-direction: column;
  padding: 13px;
  text-decoration: none;
  color: black;
  gap: 5px;
}
.diners-section__box__diner__resume h3 {
  font-size: 18px;
  font-weight: 600;
}
.diners-section__box__diner__resume p {
  font-size: 17px;
}
@media (min-width: 1024px) {
  .diners-section__box {
    width: 450px;
  }
  .diners-section__box__diner {
    width: 450px;
  }
  .diners-section__box__diner img {
    width: 450px;
  }
}
@media (min-width: 1024px) {
  .diners-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 70px;
  }
  .diners-section .column {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .diners-section h2 {
    margin: 10px 833px -46px 14px;
  }
}

.tete img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -60px;
  padding: 30px 15px 50px 15px;
}
.carte .big-button {
  margin-top: 30px;
  padding: 15px 50px 15px 50px;
}
@media (min-width: 1024px) {
  .carte {
    width: 78%;
    margin: 0% 10% 0% 10%;
  }
}

.title {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}
.title h1 {
  font-family: "Shrikhand";
  font-size: 28px;
}
.title #heart1 + label {
  top: 2px;
  left: -5px;
}
.title #heart2 + label {
  top: 2px;
  left: -5px;
}
.title #heart3 + label {
  top: 2px;
  left: -5px;
}
.title #heart4 + label {
  top: 2px;
  left: -5px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.menu__title h3 {
  padding: 12px;
  font-size: 21px;
  font-variant-caps: all-small-caps;
}
.menu__plats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  height: 40px;
  background: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
}
.menu__plats h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
.menu__plats p {
  font-size: 14px;
}
.menu__plats b {
  font-size: 15px;
  font-weight: 600;
  margin: -21px 0px 0px 280px;
}
@media (min-width: 1024px) {
  .menu {
    width: 60%;
  }
}

.footer-diners {
  margin-top: -60px;
}