.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    color: #353535;
    padding: 15px;
    gap: 20px;
    font-weight: 1000;
    box-shadow: inset 1px 12px 5px -10px rgba(0, 0, 0, 0.15);
}

.reserver {
    background-color: $main-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 25px 50px 25px;
    gap: 15px;
    h1 {
        font-size: 24px ;
        text-align: center;
        font-weight: 600;
    }
    p {
        text-align: center;
        margin-bottom: 15px;
    }
    @media (min-width: 1024px) {
        padding: 40px 25px 50px 25px;
        gap: 25px;
        h1 {
            width: 900px;
            font-size: 35px;
        }
        p {
            margin: 0px;
        }
    }
}

.fonctionnement-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 1px 175px 1px 1px;
        font-weight: 700;
        font-size: 24px;
        padding: 20px 0px 20px 0px;
    }
    .fonctionnement {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 68px 0px;
        gap: 25px;
       
        &__box {
            //display
            display: flex;
            flex-direction: row;
            align-items: center;
            //background
            background: $main-background;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            //emplacement//taille
            height: 73px;
            width: 273px;
            padding-left: 30px;
            padding-right: 30px;
            font-weight: 500;
            gap: 20px;
            text-align: center;
            &__sphere {
                //display
                display: flex;
                justify-content: center;
                align-items: center;
                //color
                background-color: $dark-purple ;
                color: white;
                //style
                border-radius: 100%;
                //emplacement//taille
                width: 24px;
                height: 24px;
                text-align: center;
                margin-left: -42px;
            }
            .fa-store {
                color: $dark-purple;
            }
            .fa-mobile-screen-button {
                color: #7E7E7E;
            }
            .fa-list-ul {
                color: #7E7E7E;
            }
            @media (min-width: 1024px) {
                flex-direction: row;
                width: 233px;
            }
        }
         @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
    @media (min-width: 1024px) {
        &__title {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            h2 {
                padding: 20px 0px 20px 0px;
                margin-left: -478px;
            }
        }
    }
}


.diners-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 50px 15px;
    background-color: $main-background;
    h2 {
        margin: 0px 216px -30px 0px;
        font-weight: 700;
        font-size: 24px;
    }
    &__box {
        height: 270px;
        .new {
            @include nouveau;
            position: relative;
            top: 60px;
            left: 230px;
            @media (min-width: 1024px) {
                left: 330px;
            }
        }
        .heart {
            background-color: #FFFFFF;
            border: none;
            position: relative;
            top: 217px;
            left: 290px;
            @media (min-width: 1024px) {
                left: 390px;
            }
        }
        .disabled {
            display: none;
        }
        i {
            font-size: 21px;
        } 
        &__diner {
            //display
            display: flex;
            flex-direction: column;
            //emplacement//taille
            width: 345px;
            height: 251px;
            //style
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            //style-text
            text-decoration: none;
            
            img {
                width: 345px;
                height: 70%;
                border-radius: 15px 15px 0px 0px;
                object-fit:cover;
            }
            &__resume {
                display: flex;
                flex-direction: column;
                padding: 13px;
                text-decoration: none;
                color: black;
                gap: 5px;
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    font-size: 17px;
                }
            }
        }
        @media (min-width: 1024px) {
            width: 450px;
            &__diner {
                width: 450px;
                img {
                    width: 450px;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 70px;
        .column {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
        h2 {
           margin: 10px 833px -46px 14px
        }
    }
}
