//Coeur

@keyframes heart-full {
    0% {
        transform: scale(0);
        opacity: (0.1);
    }
    10% {
        transform: scale(0.5);
        opacity: (0.2);
    }
    20% {
        transform: scale(1.5);
        opacity: (0.3);
    }
    30% {
        transform: scale(1.3);
        opacity: (0.4);
    }
    40% {
        transform: scale(1.2);
        opacity: (0.5);
    }
    50% {
        transform: scale(1.1);
        opacity: (0.6);
    }
    60% {
        transform: scale(1);
        opacity: (0.7);
    }
    70% {
        transform: scale(1);
        opacity: (0.8);
    }
    80% {
        transform: scale(1);
        opacity: (0.9);
    }
    90%,100% {
        transform: scale(1);
        opacity: (1);
    }
} 


//Loader
.loader-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2169px;
    background-color: white;
    z-index: 1;
    animation: loader-main 3000ms linear forwards, loader-main-z 3001ms forwards;
    @media (min-width: 1024px) {
        height: 1391px;
    }
    //icon loader rotation
    .loader {
        width: 150px;
        height: 150px;
        margin-top: -1300px;
        border: 5px solid;
        border-color: $dark-purple transparent;
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite, loader 3s linear forwards;
        @media (min-width: 1024px) {
            margin-top: -400px;
        }
    }
}

//rotation icon keyframe
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
//opacity change
@keyframes loader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
//background opacity
@keyframes loader-main {
    0%,80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
//background z-index change
@keyframes loader-main-z {
    0%,99% {
        z-index: 1;
    }
    100% {
        z-index: -1;
    }
}

@keyframes check {
    from {
        opacity: 1;
        translate: 0px 0px;
    }
    to {
        translate: -70px 0px;
        opacity: 1;
    }
}